<div class="post">
    {{post.message}}
    <div class="comment">
        <form action="/post_reply/{{post.id}}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Add Reply</label>
                <input type="text" name="comment" class="form-control">
            </div>
            <button class="btn btn-primary">Reply</button>
        </form>

        

        {% for comment in post.post_comments.all %}

        <p>{{comment.comment}}</p>
        {% endfor %}
    </div>

    <a href="/like/{{post.id}}">Like</a>
    <p>Current likes {{ post.likes.count }}</p>
</div>