<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Search</title>
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <nav class="navbar ">
                    <div class="container-fluid">
                        <h1>SnipIT</h1>
                        <a href="/home">Home</a>
                        <a href="/top">Top Charts</a>
                        <a href="/all_time">Most Popular</a>
                        <span class="navbar-text">
                            <h1>Welcome,{{user.first_name}}</h1>
                            <a href="/logout">Log Out</a> | <a href="/view_profile/{{user.id}}">Profile</a>
                        </span>
                    </div>
                </nav>
                <div class='search' id='search'>
                    <form action="search_list" method="POST">
                        {% csrf_token %}
                        <input class="form control col-10" type="search" name="search" placeholder="Search..">
                        <input type="submit" class="btn btn-info" value="Submit Button">
                    </form>
                    
                </div>
                <div class='col-10 align-content-stretch flex-wrap' id='display' >
                    <div class="list">
                        {% for song in response %}
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.0.result.id}}"><img src="{{response.hits.0.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.0.result.id}}"><div class="overlay">{{response.hits.0.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.1.result.id}}"><img src="{{response.hits.1.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.1.result.id}}"><div class="overlay">{{response.hits.1.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.2.result.id}}"><img src="{{response.hits.2.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.2.result.id}}"><div class="overlay">{{response.hits.2.result.full_title}}</div>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.3.result.id}}"><img src="{{response.hits.3.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.3.result.id}}"><div class="overlay">{{response.hits.3.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.4.result.id}}"><img src="{{response.hits.4.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.4.result.id}}"><div class="overlay">{{response.hits.4.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.5.result.id}}"><img src="{{response.hits.5.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.5.result.id}}"><div class="overlay">{{response.hits.5.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.6.result.id}}"><img src="{{response.hits.6.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.6.result.id}}"><div class="overlay">{{response.hits.6.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.7.result.id}}"><img src="{{response.hits.7.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.7.result.id}}"><div class="overlay">{{response.hits.7.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.8.result.id}}"><img src="{{response.hits.8.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.8.result.id}}"><div class="overlay">{{response.hits.8.result.full_title}}</div></a>
                        </div>
                        <div class="img_con">
                            <a href="/view_lyrics/{{response.hits.9.result.id}}"><img src="{{response.hits.9.result.header_image_thumbnail_url}}" alt="Avatar" class="image"></a>
                            <a href="/view_lyrics/{{response.hits.9.result.id}}"><div class="overlay">{{response.hits.9.result.full_title}}</div></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'main.js' %}" async defer></script>
    </body>
</html>